@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
*{
    font-family:"Oxygen", sans-serif;
    box-sizing: border-box;
}
a:hover {color: aqua;}
a{color:#000;
text-decoration: none;}
.mainheader{
    background-color: #94d2bd;
    size: 20%;
    display: flex;
}
.mainheader h1{
    padding-left: 1em;

}
.nav li{
    display: inline;
}
.nav a{
    padding: 0.5em;
    display: inline-block;
}
.nav a:hover{
    background-color: rgba(0, 0, 0, .3);
}
.nav{
    padding-left: 30em;
}
.intro{
    text-align: center;
    background-color: #fff;
    color: gray;
    padding: 10%;

}
h2{
    color: #94d2bd;
}
.selfportrait{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.about{
    background-color: #005f73 ;
    padding-block: 5%;
    padding-left: 5%;
    max-width: 10000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.mainfooter{
    padding-block: 5%;
    text-align: center;
    background-color: #005f73;
    color: white;
}
.mainfooter li{
    display: inline;
}


